<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./layout/header-common.html') %>
	<title>爱生活，爱购物</title>
</head>
	<body>
	<%= require('html-loader!./layout/nav.html') %>
	<%= require('html-loader!./layout/header.html') %>
<!--
	&lt;!&ndash;商品分类&ndash;&gt;
	<div class="arvin_fen_class">
		<div class="arvin_fen_class1">
			<i class="fa fa-list" aria-hidden="true"></i>
			商 品 分 类
		</div>


	</div>


	&lt;!&ndash;首页导航条&ndash;&gt;
	<div class="arvin-nav">
		<ul class="arvin-ul">
			<li class="arvin-li">导航条</li>
			<li class="arvin-li">导航条</li>
			<li class="arvin-li">导航条</li>
			<li class="arvin-li">导航条</li>
			<li class="arvin-li">导航条</li>
		</ul>

	</div>-->
	<ul class="keywords-list" style="visibility: hidden;">
		<li class="keywords-item">
			<a class="link" target="_blank" href="./list.html?keyword=手机">手机</a>
			<a class="link" target="_blank" href="./list.html?keyword=华为">华为</a>
			<a class="link" target="_blank" href="./list.html?keyword=小米">小米</a>
			<a class="link" target="_blank" href="./list.html?keyword=苹果">苹果</a>
			<a class="link" target="_blank" href="./list.html?keyword=魅族">魅族</a>
		</li>
		<li class="keywords-item">
			<a class="link" target="_blank" href="./list.html?keyword=电脑">电脑</a>
			<a class="link" target="_blank" href="./list.html?keyword=苹果">苹果</a>
			<a class="link" target="_blank" href="./list.html?keyword=联想">联想</a>
			<a class="link" target="_blank" href="./list.html?keyword=华硕">华硕</a>
			<a class="link" target="_blank" href="./list.html?keyword=戴尔">戴尔</a>
		</li>
		<li class="keywords-item">
			<a class="link" target="_blank" href="./list.html?keyword=电视">电视</a>
			<a class="link" target="_blank" href="./list.html?keyword=三星">三星</a>
			<a class="link" target="_blank" href="./list.html?keyword=小米">小米</a>
			<a class="link" target="_blank" href="./list.html?keyword=索尼">索尼</a>/
		<li class="keywords-item">
			<a class="link" target="_blank" href="./list.html?keyword=家电">家电</a>
			<a class="link" target="_blank" href="./list.html?keyword=冰箱">冰箱</a>
			<a class="link" target="_blank" href="./list.html?keyword=空调">空调</a>
			<a class="link" target="_blank" href="./list.html?keyword=洗衣机">洗衣机</a>
		</li>
		<li class="keywords-item">
			<a class="link" target="_blank" href="./list.html?keyword=厨房卫浴">厨房卫浴</a>
			<a class="link" target="_blank" href="./list.html?keyword=厨具刀具">厨具刀具</a>
			<a class="link" target="_blank" href="./list.html?keyword=清洁用具">清洁用具</a>
		</li>
		<li class="keywords-item">
			<a class="link" target="_blank" href="./list.html?keyword=家居办公">家居办公</a>
			<a class="link" target="_blank" href="./list.html?keyword=生活用品">生活用品</a>
			<a class="link" target="_blank" href="./list.html?keyword=汽车装饰">汽车装饰</a>
		</li>
		<li class="keywords-item">
			<a class="link" target="_blank" href="./list.html?keyword=服饰">服饰</a>
			<a class="link" target="_blank" href="./list.html?keyword=男装">男装</a>
			<a class="link" target="_blank" href="./list.html?keyword=女装">女装</a>
			<a class="link" target="_blank" href="./list.html?keyword=鞋靴">鞋靴</a>
		</li>
		<li class="keywords-item">
			<a class="link" target="_blank" href="./list.html?keyword=美妆">美妆</a>
			<a class="link" target="_blank" href="./list.html?keyword=化妆品">化妆品</a>
			<a class="link" target="_blank" href="./list.html?keyword=男士护肤">男士护肤</a>
		</li>
		<li class="keywords-item">
			<a class="link" target="_blank" href="./list.html?keyword=母婴">母婴</a>
			<a class="link" target="_blank" href="./list.html?keyword=奶粉">奶粉</a>
			<a class="link" target="_blank" href="./list.html?keyword=尿裤湿巾">尿裤湿巾</a>
		</li>
		<li class="keywords-item">
			<a class="link" target="_blank" href="./list.html?keyword=图书">图书</a>
			<a class="link" target="_blank" href="./list.html?keyword=文艺">文艺</a>
			<a class="link" target="_blank" href="./list.html?keyword=科幻">科幻</a>
			<a class="link" target="_blank" href="./list.html?keyword=少儿">少儿</a>
		</li>
	</ul>

	<div class="index-background">

		<div class="">

			<!--<br/>-->

			<div class="w-1">

				<div class="banner-con">
					<div class="loading"></div>
				</div>
			</div>


		</div>

	</div>
		<!--首页蓝色图片-->
	<div>

		<div class="arvin_font">
			<div>| 精品活动</div>
		</div>

		<div class="imgbox">

			<a href="./detail.html?productId=20" target="_blank">
				<img src="<%= require('../image/floor_down001.jpg')%>"/>
			</a>
		</div>
		<div class="w">
			<div class="floor-wrap">
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./detail.html?productId=21">
							<img class="floor-img" src="<%= require('../image/floor/面膜001.jpg')%>" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=21">
							<img class="floor-img" src="<%= require('../image/floor/口红001.jpg')%>" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=21">
							<img class="floor-img" src="<%= require('../image/floor/洁面乳001.jpg')%>" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=21">
							<img class="floor-img" src="<%= require('../image/floor/精华001.jpg')%>" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=21">
							<img class="floor-img" src="<%= require('../image/floor/化妆棉001.jpg')%>"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>


	<div>



		<div class="imgbox">

			<a href="./detail.html?productId=22">
				<img src="<%= require('../image/floor_down002.jpg')%>"/>
			</a>
		</div>
		<div class="w">
			<div class="floor-wrap">
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./list.html?categoryId=10006">
							<img class="floor-img" src="<%= require('../image/floor/女装首页001.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=10007">
							<img class="floor-img" src="<%= require('../image/floor/女装首页002.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=10008">
							<img class="floor-img" src="<%= require('../image/floor/女装首页003.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=10009">
							<img class="floor-img" src="<%= require('../image/floor/女装首页004.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=10010">
							<img class="floor-img" src="<%= require('../image/floor/女装首页005.jpg')%>"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>



	<div>
		<div class="imgbox">

			<a href="./detail.html?productId=23">
				<img src="<%= require('../image/floor_down003.jpg')%>"/>
			</a>
		</div>
		<div class="w">
			<div class="floor-wrap">
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./list.html?categoryId=10006">
							<img class="floor-img" src="<%= require('../image/floor/厨卫首页001.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=10007">
							<img class="floor-img" src="<%= require('../image/floor/厨卫首页002.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=10008">
							<img class="floor-img" src="<%= require('../image/floor/厨卫首页003.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=10009">
							<img class="floor-img" src="<%= require('../image/floor/厨卫首页004.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=10010">
							<img class="floor-img" src="<%= require('../image/floor/厨卫首页005.jpg')%>"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>




	<div>
		<div class="imgbox">

			<a href="./detail.html?productId=24">
				<img src="<%= require('../image/floor_down004.jpg')%>"/>
			</a>
		</div>
		<div class="w">
			<div class="floor-wrap">
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./detail.html?productId=24">
							<img class="floor-img" src="<%= require('../image/floor/养生首页001.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=24">
							<img class="floor-img" src="<%= require('../image/floor/养生首页002.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=24">
							<img class="floor-img" src="<%= require('../image/floor/养生首页003.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=24">
							<img class="floor-img" src="<%= require('../image/floor/养生首页004.jpg')%>"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=24">
							<img class="floor-img" src="<%= require('../image/floor/养生首页005.jpg')%>"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>





	</div>










	<%= require('html-loader!./layout/footer.html') %>
	</body>
</html>