.form-line{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-top: 31px;
    margin-left: 319px;
}
.form-line .label{
    display: inline-block;
    width: 65px;
    text-align: center;
}
.form-line  .inupt{
    height: 25px;
    line-height: 30px;
    width: 200px;
    font-size: 14px;
}
.btn-submit{
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 400px;
}
#update-pass{
    color:#fa2a83;
}
#update-pass1{
    color:#fa2a83;
}
#update-pass2{
    color:#fa2a83;
}