.footer{
    margin-top: 20px;
    padding-bottom: 10px;
    border-top: 2px solid #fa2a83;
    background: #262626;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.bei_an{
    text-align: center;
    color: #666;
    margin-top: 5px;
}
.footer-img{
    text-align: center;
}
.ha_li_gong{

}