/* 通用头部导航 */
.header .logo{
    position: absolute;
    left: 140px;
    top: 20px;
    display: block;
    font-size: 43px;
    /* color: #c60023; */
    color: #fa2a83;
    font-weight: bold;
    text-decoration: none;
}
.header .arvin_logo1{
    font-size: 10px;
}


.header .search-con{
    padding: 40px 0 30px 250px;
    margin-bottom: 20px;
    /*position: absolute;
    top: 0;
    right: -2px;
    z-index: 2;
    cursor: pointer;
    border: medium none;
    color: #fff;
    height: 35px;
    width: 76px;
    font-size: 18px;
    line-height: 33px;*/
}
.header .search-con .search-input{
   /* width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #fa2a83;
    outline: none;*/
    width: 494px;
    top:-16px;
    left: 165px;
    height: 35px;
    margin-top: 19px;
    border: 2px solid #fa2a83;
    z-index: 6;
    position: relative;
    border-radius: 20px;

}
#arvin_search{
    position: absolute;
    top: 56px;
    left: 431px;
    font-size: 13px;
    color: #999;
    z-index: 8;
}

.header .search-con .search-btn{
    /*position: absolute;
    height: 44px;
    width: 80px;*/
    position: absolute;
    top: 43px;
    right: 115px;
    z-index: 999;
    cursor: pointer;
    border: medium none;
    color: #fff;
    height: 39px;
    width: 76px;
    font-size: 18px;
    line-height: 33px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

/* 面包屑导航 */
.crumb{
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #888;
    font-size: 14px;
    border-top: 2px solid #fa2a83;
}




.arvin_fen_class{
    /* float: left;*/
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 240px;
    float: left;
    height: 36px;
    color: #fff;
    background-color: #fa2a83;
    position: absolute;
    z-index: 100;
    margin-top: -6px;
    line-height: 36px;
    left: 220px;
}
.arvin_fen_class1{
    left:5px;
}
.arvin-nav{
    margin: 5px;
    font-size: 10px;
    height: 20px;
    cursor: pointer;
}
.arvin-ul{
    /* text-align: center;
     position: relative;
     left: 220px;*/
    margin-left: 440px;
}

.arvin-li{
    text-decoration:none;
    padding: 0 0px 0 5px;
    float: left;
    margin-left: 80px;
    font-size: 15px;
}

.arvin-li a{
    text-decoration:none;
    font-weight: bold;
    color:black;
    margin-bottom: 3px;
}