<div class="footer">
	<div class="w">
		<div class="links">
			<a class="link" href="http://www.arvinmeng.com" target="_blank">孟祥宇</a>|
			<a class="link" href="http://www.baidu.com" target="_blank">百度</a>|
			<a class="link" href="http://www.google.com" target="_blank">google</a>|
			<a class="link" href="http://www.hrbust.edu.cn/" target="_blank">哈尔滨理工大学</a>|
			<a class="link" href="http://rc.hrbust.edu.cn/" target="_blank">荣成校区</a>|
		</div>
	</div>
	<p class="copyright">
		Copyright © 2019 arvinmeng.com All Right Reserved
	</p>
	<p class="bei_an">
		免费服务热线:138-4696-0860 E-mail:Arvinmeng@qq.com<br>
		备案/许可证编号:京ICP备19016976号<br>
	</p>
	<!--<div class="footer-img">
		<div class="ha_li_gong">
			<img src="/image/哈理工.jpg">
		</div>

	</div>-->
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
