<div class="header">
  <div class="w">
    <a class="logo" href="./index.html">
      <div class="arvin_logo">IBuy</div>
      <div class="arvin_logo1">&nbsp; &nbsp;爱 生 活  ,  爱 购 物</div>
    </a>
    <div class="search-con">
      <i class="fa fa-search" id="arvin_search"></i>
      <input class="search-input" id="search-input" autocomplete="off" style="text-indent:28px" placeholder="连衣裙" />
      <button class="btn search-btn" id="search-bin">搜索</button>

	  <div class="cart-index">
			  <a  id="cart-a" style="text-decoration: none"  href="./cart-center.html"> 购物车</a>
	  </div>
    </div>
  </div>



	<!--商品分类-->
	<div class="arvin_fen_class" style="cursor:pointer;">
		<div class="arvin_fen_class1">
			<i class="fa fa-list" aria-hidden="true"></i>
			商 品 分 类
		</div>


	</div>


	<!--首页导航条-->
	<div class="arvin-nav">
		<ul class="arvin-ul">
			<li class="arvin-li">
				<a  text-decoration="none" href="./index.html">
					首&nbsp;页
				</a>
			</li>
			<li class="arvin-li">
				<a  text-decoration="none" href="./list.html?keyword=裙子">
					裙&nbsp;子
				</a>
			</li>
			<li class="arvin-li">
				<a  text-decoration="none" href="./list.html?keyword=美妆">
					美&nbsp;妆
				</a>
			</li>
			<li class="arvin-li">
				<a  text-decoration="none" href="./index.html">
					厨&nbsp;卫
				</a>
			</li>
			<li class="arvin-li">
				<a  text-decoration="none" href="./index.html">
					生&nbsp;活&nbsp;办&nbsp;公
				</a>
			</li>
		</ul>

	</div>
</div>