/* css reset */
/*  * 是所有元素都会对应起来 */
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f6f6f6;
    font: 12px/1.5 Tahoma,Arial,Microsoft YaHei,sans-serif;/*12px为基础，行间距1.5倍  后面为字体(从前往后匹配)*/
}
li{
    list-style: none;
}
img{
    display: block;
    border: none;
}
label{
    cursor: pointer;
}
input[type='checkbox']{
    cursor: pointer;
}

/*定宽布局*/
.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;/*超出边界不显示 清除浮动*/
    text-decoration: none;
}
/*适应大屏幕*/
/*
.large .w{
    width:1600px;
}*/
/*全局通用样式*/
/*隐藏类*/
.hide{
    display: none;
}
/*超链接样式*/
.link{
    color: #999;
    cursor: pointer;
    text-decoration: none;/*去掉下划线*/
}
/*链接做一些动作 比如鼠标放上去变颜色*/
.link:hover{
    color: #e80012;
}
/*长得像link 但不希望它能点 */
.link-text{
    color: #999;
    text-decoration: none;/*去掉下划线*/
}
/*btn  botton*/
.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle; /*防止其他样式冲突*/
    border: none;
    background: #c60023;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.btn-min{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
/*loading*/
.loading{
    margin: 10px auto;
    display: block;
    width: 65px;
    height: 65px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: url("../../image/icon/loading.gif") no-repeat;
    opacity: .6;
}
/* panel */
.panel{
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}
.panel .panel-title{
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.panel .panel-body{
    padding: 10px;
    overflow: hidden;
}