.arvin-address{
    width: 848px;
    height: 100px;
    padding: 10px;
    position: relative;
    border:2px solid #fde9e9;
    z-index: 1;
}
.arvin-text{
    margin: 10px;
    width: 600px;
    position: absolute;
}
.address-op{
    background: #fde9e9;
    width: 170px;
    height: 124px;
    text-align: center;
    line-height: 11;
    margin-left: 700px;
    margin-top: -12px;
    z-index: 10;
    position: absolute;
}
.address-name{
    font-weight: bold;
    font-size: 18px;
}
.address-name em{
    color: #999;
    font-size: 12px;
    /*font-family: SimSun;
    font-weight: normal;*/
}
.address-detail{
    margin-top: 4px;
    font-size: 13px;
}
.address-phone{
    margin-top: 4px;
    font-size: 13px;
}
.add-address{
    float: right;
    margin-right: 92px;
    width: 94px;
    height: 28px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    color: #555;
    text-decoration: none;
    float: right;
}
.arvin-address .fa{
    line-height: 108px;
    font-size: 40px;
    margin-left: 342px;
    color: #999;
    cursor: pointer;
}
.add-new_address{
    background: #333333;
}
.arvin-address .text{
    position: relative;
    font-size: 21px;
    height: 25px;
    margin-left: 389px;
    top: -72px;
    color: #999;
    cursor: pointer;
}
.address-com{

}



/*modal部分*/


.modal{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #eee;
    background: rgba(0,0,0,.4);
    z-index:1000;
    overflow: hidden;
    overflow: auto;
}
.modal .modal-container{
    width: 700px;
    margin: 50px auto;
    background: #fff;
    border-radius: 2px;
}
.modal .modal-container .modal-header{
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
.modal .modal-container .modal-header .modal-title{
    font-size:14px;

}
.modal .modal-container .modal-header .close{
    position: absolute;
    padding: 10px;
    right:20px;
    top:10px;
    cursor: pointer;
}

.modal .modal-container .modal-body{
    padding: 15px;
}

/*form部分*/

.form .form-line{
    margin:5px 0;
    overflow: hidden;
}
.form .form-line .label{
    display: block;
    float: left;
    width:85px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    cursor:pointer;
}
.form .form-line .label .required{
    color:#fa2a83;
}

.form .form-line .form-item{
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    outline:none;
    margin-right: 10px;
}
.form .form-line .btn{
    margin-left: 95px;
    height: 30px;
    line-height:30px;
    font-size:13px;
}
